manual_test.py
test.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales
.venv/
venv/
env/

# Distribución / Packaging
build/
dist/
*.egg-info/

# Logs y pruebas
*.log
.pytest_cache/

# Variables de entorno 
.env
.env.local

# IDEs
.vscode/
.idea/
AUDIT.md